* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #80EF80;
}

#project-container {
    width: 20%;
    min-width: 300px;
    height: 80vh;
    padding: 20px 10px;
    background-color: #8CBD8C;
    border: solid 2px #173317;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    scrollbar-width: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.add-project {
    font-size: 1.2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    border: solid 2px #173317;
    border-radius: 20px;
}

.line{
    width: 100%;
    border: #173317 solid 1px;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects > div {
    display: grid;
    grid-template-columns: 1fr auto;
} 

.projects button{
    font-size: 1rem;
    border: none;
    border: solid 2px #173317;
    font-weight: bold;
    cursor: pointer;
}

.projects button:first-of-type,
.tasks button:first-of-type{
    background-color: #e0ede0;
    border-right: 0px;
}

.projects button:last-of-type,
.tasks button:last-of-type{
    background-color: red;
    padding: 5px 10px;
}

#task-container {
    width: 20%;
    min-width: 300px;
    height: 80vh;
    padding: 20px 10px;
    background-color: #768A76;
    border: solid 2px #173317;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    scrollbar-width: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.task-container-msg{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.task-container-msg > img{
    height: 150px;
    width: 70%;
}

#task-container > button {
    font-size: 1.1rem;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    border: solid 2px #173317;
    border-radius: 20px;
}

#task-container > hr {
    width: 100%;
    border: #173317 solid 1px;
}


.tasks {
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: auto;
    scrollbar-width: none;
}

.tasks > div{
    display: grid;
    grid-template-columns: 1fr auto;
}

.tasks button{
    font-size: 0.9rem;
    border: solid 2px #173317;
    font-weight: bold;
}

.project-dialog,
.task-dialog{
    border: solid 3px #173317;
    border-radius: 10px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.project-dialog::backdrop,
.task-dialog::backdrop
{
    backdrop-filter: blur(5px);
}

.project-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-form p{
    margin: 10px 0px;
}

.project-form p:first-child{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.9rem;
}

#project-input{
    padding: 4px 6px ;
    border-radius: 5px;
    border: solid #173317 1px;
    font-size: 0.8rem;
}

#submit-project{
    padding: 5px 20px;
    border: solid 2px #173317;
    background-color: #c4ccc4;
    font-weight: bold;
    color: #173317;
    border-radius: 8px;
    cursor: pointer;
}

.task-form p:first-child,
.task-form p:nth-child(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#task-title,
#task-desc{
    padding: 4px 6px ;
    border-radius: 5px;
    border: solid #173317 1px;
    font-size: 1rem;
}

.task-form p:nth-child(3){
    display: flex;
    gap: 21px;
}

.task-form p:nth-child(4){
    display: flex;
    gap: 37px;
}

.task-form p:last-child{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#submit-task{
    padding: 5px 20px;
    border: solid 2px #173317;
    background-color: #c4ccc4;
    font-weight: bold;
    color: #173317;
    border-radius: 8px;
    cursor: pointer;
}





